#include <windows.h>
#include "KeyboardHook.h"

ID_ICON ICON "vim.ico"
ID_ICON_ON ICON "vim_on.ico"


IDD_ABOUT DIALOG DISCARDABLE  0, 0, 239, 66
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Vim arrows"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "&OK"                   ,IDOK       ,174,18 ,50 ,14
    PUSHBUTTON      "&Cancel"               ,IDCANCEL   ,174,35 ,50 ,14
    GROUPBOX        "About this program..." ,IDC_STATIC ,7  ,7  ,225,52
    CTEXT           "H,J,K,L - as arrow\nU,D,A,E - PgUp,PgDwn,Home,End\nX-Del,/-Ctrl+F\nby Eugene Stolbin",IDC_STATIC,16,18,144,33
END
